/*--------------------------------------------------
   General styles used in the IMS-LD package
  --------------------------------------------------*/

ul {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  text-indent: -15px;
  padding: 0px 0px 5px 0px;
  margin: 0px;
  white-space: nowrap;
}
div.role_menu {
  text-align: right;
  font-size: 80%;
  padding: 0px;      
  margin: 0px;
  top: 0px;
  right: 0px;
} 
a.button  {
  text-align: center;
  border: 3px outset #00b;
  background-color: #007; 
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  padding: 0px;      
  margin: 0px;
  top: 0px;
  left: 0px;
}
a.button:hover  {
  color: #fff;
  background-color: #00d;
  border: 3px inset #00b;
}

.button {	
  display: block; 
  position: fixed;
}

a.finish {
  font-size:9px;
  font-family:Tahoma,sans-serif;
  text-align:left;
  color:#FFFFFF;
  background-color:#2878C0;
  border-top-style:solid;
  border-top-color:#2878C0;
  border-top-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#2878C0;
  border-bottom-width:1px;
  border-left-style:solid;
  border-left-color:#1858B8;
  border-left-width:6px;
  border-right-style:solid;
  border-right-color:#508CC0;
  border-right-width:6px;
}
a.finish:hover  {
  color: #fff;
  background-color:#1858B8;
  border-style:double;
}

.finish { 
  padding:0px;
  margin:0px;
}


