
th{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  height:50px;
}

h1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	color: #000000;
}
 h2, h3, h4, h5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	color: #000000;
}

span.term {
    font-weight: bold;
}

div.sidebar {
    background: #F0F0F0;
    border: 1px solid gray;
    padding: 5px;
    margin: 20px;
}

pre.programlisting {
    background: #F0F0F0;
    border: 1px solid gray;
    padding: 2px;
    font-size: 10pt;
    white-space: pre;
}


.Pretitulo {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #CC0033;
	text-align: justify;
	font-weight: bold;
}
.Titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000066;
	text-align: center;
}
.Subtitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	color: #000000;
}
.TitDate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000066;
	text-align: right;
}
.copyRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
}
.pieFoto {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000000;
	font-weight: normal;
	text-align: left;
}
.textosNotaF {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000066;
	text-align: justify;
}
.textosLlamados {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	text-align: left;
}

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #001F48;
	text-decoration: none;

}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #001F48;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #007ECC;
	text-decoration: none;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #001F48;
	text-decoration: none;
}

.claro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #001F48;
	background-color: #DCF2FF;
	text-align: center;
}
.oscuro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #001F48;
	background-color: #D3E5FD;
	text-align: center;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	background-color: #037ECC;
	padding: 0px;
	margin: 0px;
	BORDER: 0px none #037ECC;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color: #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	TEXT-DECORATION: none
}



.titularPrinci {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000066;
	background-color: #EDEDED;
}

.GenTable {
	border-top: 1px #000066;
	border-right: 2px solid #000066;
	border-bottom: 2px solid #000066;
	border-left: 1px #000066;

}
.bgLeft {
	background-color: #001F48;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.bgRight01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003333;
	background-color: #E4E7EB;
}
.bgRight02 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003333;
	background-color: #F0F2F5;
}
.GenTableRed {
	border-top: 1px #000066;
	border-right: 2px solid #E30A17;
	border-bottom: 2px solid #E30A17;
	border-left: 1px #000066;
}
body {
	background-color: #FFFFFF;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color: #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
}

.TitPrincipal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	clip:   rect(auto auto auto auto);
}

.subTitu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	color: #000000;
}
.CelCeleste {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #DEE3E7;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #001F48;
	border-bottom-color: #001F48;
	border-left-color: #FFFFFF;
	color: #000066;
}


.copyRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #BACAD3;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
}
.TitSecundario2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000066;
	font-weight: bold;
	background-color: #DBF1FF;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #001F48;
	text-decoration: none;
	text-align: left;
	font-weight: 400;
	background-image: url(../images/bUp.gif);
}

.CelCeleste {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #C5E9FF;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #001F48;
	border-bottom-color: #001F48;
	border-left-color: #FFFFFF;
	color: #000066;
}
.inputRight {
	BORDER-RIGHT: thin solid #CCCCCC;
	BORDER-TOP: thin solid #000000;
	SCROLLBAR-FACE-COLOR: #ffffff;
	FONT-SIZE: 12px;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	BORDER-LEFT: thin solid #000000;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	COLOR: #001F48;
	SCROLLBAR-3DLIGHT-COLOR: #cccccc;
	SCROLLBAR-ARROW-COLOR: #758cb3;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	BORDER-BOTTOM: thin solid #CCCCCC;
	FONT-FAMILY: arial, helvetica, verdana, sans-serif;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	TEXT-DECORATION: none;
	background-color: #FFFFFF;
	left: 0px;
	top: 0px;
}
.CelWhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #001F48;
	border-bottom-color: #001F48;
	border-left-color: #FFFFFF;
	color: #000066;
	background-color: #ebebeb;

}

.CelCelesteBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #C5E9FF;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #001F48;
	border-bottom-color: #001F48;
	border-left-color: #FFFFFF;
	color: #000066;
}
table{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

